# Ignore captures
/src/captures/
# Ignore outputs
/src/output

# Virtual environment
/.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
*.log
.DS_Store